.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;

        .item {
          display: flex;
          flex-direction: column;
          gap: 1px;

          .patientTitle {
            margin-bottom: 10px;

            .nameTag {
              font-weight: bold;
            }
          }

          .detailPatient {
            margin-bottom: 10px;
            font-size: 14px;

            .patientKey {
              font-weight: bold;
            }

            .patientValue {
              font-weight: 300;
            }
          }
        }

        .itemImage {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 1;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;

        .detailPatient {
          font-size: 14px;
          margin-bottom: 20px;

          .patientKey {
            font-weight: bold;
          }

          .patientValue {
            font-weight: 300;
          }
        }
      }

      .middle {
        flex: 1;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;

        .detailPatient {
          font-size: 14px;
          margin-bottom: 5px;

          .patientKey {
            font-weight: bold;
          }

          .patientValue {
            font-weight: 300;
          }
        }
      }
    }
    .bottom {
      padding: 20px;
      display: flex;
      gap: 20px;

      .item {
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        .detailPatient {
          font-size: 14px;
          margin-bottom: 5px;

          .patientKey {
            font-weight: bold;
          }

          .patientValue {
            font-weight: 300;
          }
        }
      }
    }
  }
}
