.status-routine {
  font-weight: bold;
  color: green;
  background-color: rgba(0, 128, 0, 0.157);
}

.status-stat {
  font-weight: bold;
  color: red;
  background-color: rgba(255, 0, 0, 0.153);
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darksalmon;
    background-color: rgba(233, 150, 122, 0.209);
    font-weight: bold;
    cursor: pointer;
  }

  .completeButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkmagenta;
    background-color: rgba(139, 0, 139, 0.206);
    font-weight: bold;
    cursor: pointer;
  }
}
