.hospitalSidebar {
  flex: 1;

  border-right: 0.5px solid lightgray;
  min-height: 100vh;
  background-color: white;
  .top {
    height: 50px;
    display: flex;
    flex-direction: column;
    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #2fafef;
      text-align: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 13px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #88cbed;
        }

        .dashboardLink {
          text-decoration: none;
        }
      }

      .icon {
        font-size: 18px;
        color: #2fafef;
      }

      span {
        font-size: 13px;
        font-weight: bold;
        color: #888;
        margin-left: 10px;
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid lightgray;
  }

  .center {
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    .forms {
      display: flex;
      flex-direction: column;

      button {
        cursor: pointer;
        border: none;
        background-color: #2fafef;
        color: white;
        transition: background-color 0.3s ease;
        padding: 5px;
        border-radius: 3px;
        margin-top: 10px;
      }
      button:hover {
        background-color: #88cbed;
      }
    }
  }
}
